<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common_frg_admin :: header_admin(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签编辑</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/adminIndex.css">
</head>
<body>

    <!-- 管理导航栏 -->
    <div th:replace="admin/common_frg_admin :: menu_admin(5)" class="ui  inverted attached segment m-padd-top-mini m-shadow-small">
        
            <div class="ui  inverted secondary borderless stackable menu m-padd-top-mini" >
                <h2 class="ui teal inverted header item m-padding-head" >管理后台</h2>
                
                  <a href="#" class=" m-item item m-mobile-hide m-padding-head-page"><i class="edit icon"></i><span class="m-fam-size" style="color:#e65384 !important;">博客管理</span></a>
                  <a href="#" class="m-item item m-mobile-hide m-padding-head-page"><i class="plane icon"></i><span class="m-fam-size" style="color:#a291fb !important;">旅行游记发布</span></a>
                  <a href="#" class="m-item item m-mobile-hide m-padding-head-page"><i class="folder icon"></i><span class="m-fam-size" style="color:#a291fb !important;">分类</span></a>
                  <a href="#" class=" m-item item m-mobile-hide m-padding-head-page"><i class="user icon"></i><span class="m-fam-size" style="color:#a291fb !important;">用户管理</span></a>
                  <a href="#" class=" m-item item m-mobile-hide m-padding-head-page"><i class="spinner icon"></i><span class="m-fam-size" style="color:#74b34b !important;">博客记录添加</span></a>
                  <a href="#" class="m-item item m-mobile-hide m-padding-head-page"><i class="user plus icon"></i><span class="m-fam-size" style="color:#d3c75d !important;">友链添加</span></a>
                  <a href="#" class="m-item item m-mobile-hide m-padding-head-page"><i class="info icon "></i><span class="m-fam-size" style="color:#ff695e !important;">散言碎语发布</span></a>
                  
                

                

                  <!-- 管理员登录 -->
                  <div class=" right  menu right-menu m-item m-mobile-hide "  style="margin-left: 200px !important;">
                      <div class="ui dropdown item dropdown-item">
                        <div class="text">
                          <img class="ui avatar image" src="https://picsum.photos/id/1/100/100?image=1021">
                            余睿哲
                            <div class="floating ui mini red circular label">22</div>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">
                              <i class="hand point up outline icon"></i>
                              <a href="#" style="color: rgb(135, 86, 184);">登录</a>
                            </div>
                            
                            <div class="item">
                              <i class="power off icon"></i>
                              <a href="#" style="color: rgb(144, 83, 206);">注销</a>
                            </div>

                            <div class="ui left pointing dropdown link item" style="color: black !important;">
                              <i class="envelope icon"></i>
                                <span style="color: rgb(144, 83, 206);;">消息</span> 
                              <div class="menu" >
                                <div class="item">
                                  <i class="user icon"></i>
                                  <a href="#" style="color: rgb(90, 138, 228) !important;">新注册用户</a>
                                  <div class="floating ui mini red circular label">22</div>
                                </div>
                                <div class="item">
                                  <i class="comments outline icon"></i>
                                  <a href="#"  style="color: cornflowerblue !important;">新增评论</a>
                                  <div class="floating ui mini red circular label">22</div>
                                </div>
                                <div class="item">
                                  <i class="user plus icon"></i>
                                  <a href="#"  style="color: cornflowerblue !important;">友链添加</a>
                                  <div class="floating ui mini red circular label">22</div>
                                </div>
                                
                              </div>
                            </div>

                        </div>
                  </div>

                  


                  

 
                  </div>

                  <a href="#" class="ui menu toggle inverted  icon buttom m-right-top m-mobile-show " style="color: rgb(218, 218, 218);"  >
                    <i class="sidebar icon"></i>
                  </a>

            </div>
    </div>



   


    <!-- 博客建站管理添加 -->
    <div class="m-container m-padding-bt-big">

        <div class="ui container "  >
            <form action="#" method="post" th:object="${tag}" th:action="*{id}==null ? @{/admin/tags}: @{/admin/tags/{id}(id=*{id})} "  class="ui segment form category">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="field">
                    <div class="ui center aligned container">
                        <h3>编辑标签</h3>
                    </div>

                    <div class="field">
                        <div class="ui labeled input">
                            <div class="ui basic green label">
                                标签
                            </div>
                            <input type="text" name="tagName" placeholder="输入分类" th:value="*{tagName}">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui right aligned container">
                            <button type="submit" class="ui submit primary button"><i class="hand pointer icon"></i>提交</button>
                        </div>

                    </div>

                </div>

                <div class="ui error message"></div>
                <!--/*/
                        <div class="ui negative message" th:if="${#fields.hasErrors( 'tagName')}" >
                                <i class="close icon"></i>
                                <div class="header">验证失败</div>
                                <p th:errors="*{tagName}">提交信息不符合规则</p>
                        </div>
                /*/-->


            </form>
        </div>
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/js/utils_js/adminIndex.js" th:src="@{/js/utils_js/adminIndex.js}"></script>

<script>
  
</script>
</html>