.bodyCategory{
    background: url('../images/bg-block.png') !important;
}

.m-margin-left{
    margin-left: 10px !important;
}

.m-magin-bottom{
    margin-bottom: 10px !important;
}

.m-header{
    font-family: 'contentWord' !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.time-line{
    border-left: 3px solid #afb4db !important;
}

.category-sum-list{
    padding-left: 20px !important;
}

.category-sum-list a{
    font-family: 'dotted' !important;
    font-size: 18px !important;
    line-height: 1.5em !important;
    border-bottom: 1.5px rgb(204, 204, 204) dotted !important;
}

.category-sum-list a:link{
    color: #4183C4 !important;
}

.category-sum-list a:hover{
    color: aqua !important;
}

.head-name{
    font-family: 'contentWord' !important;
    margin-bottom: 20px !important;
    font-size: 22px !important;
    font-weight: 400 !important;
}

.header-style{
    font-size: 20px !important;
    color: rgb(68, 68, 68) !important;
    font-weight: 400 !important;
}

.con-head a:hover{
    color: #19caca !important;
}

.m-span-color{
    color: darkgrey  !important ;
    font-size: 12px !important;
}



.m-color-ca{
    color: darkgrey  !important ;
    font-weight: 600 !important;
    
}

.m-color:hover{
    color: #4585c5 !important;
}

.list-style a{
    font-size: small !important;
}

.segment-width{
    width: 520px !important;
}



.sp-style{
    font-size: 18px;
    font-family: 'headWord' !important;
}

/* css 淡入效果 */

/* css从右侧淡入效果 */

@-webkit-keyframes fadeInRight {
    0% {
    opacity:0;
    -webkit-transform:translateX(20px)
    }
    100% {
    opacity:1;
    -webkit-transform:translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
    opacity:0;
    -webkit-transform:translateX(20px)
    }
    100% {
    opacity:1;
    -webkit-transform:translateX(0)
    }
}


@-moz-keyframes fadeInRight {
    0% {
    opacity:0;
    -moz-transform:translateX(20px)
    }
    100% {
    opacity:1;
    -moz-transform:translateX(0)
    }
 }

.animation-right {
    animation: fade-in-left;
    -webkit-animation:fadeInRight 1s .7s ease both;
    -moz-animation:fadeInRight 1s .7s ease both;
}


/* 从左侧淡入 */
@keyframes fadeInLeft {
    0% {
    opacity:0;
    -webkit-transform:translateX(-20px)
    }
    100% {
    opacity:1;
    -webkit-transform:translateX(0)
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
    opacity:0;
    -webkit-transform:translateX(-20px)
    }
    100% {
    opacity:1;
    -webkit-transform:translateX(0)
    }
}
@-moz-keyframes fadeInLeft {
    0% {
    opacity:0;
    -moz-transform:translateX(-20px)
    }
    100% {
    opacity:1;
    -moz-transform:translateX(0)
    }
}


.animation-left {
    animation: fade-left;
    -webkit-animation:fadeInLeft 0.5s .1s ease both;
    -moz-animation:fadeInLeft 0.5s .1s ease both;
}

.animation-left-c {
    animation: fade-left;
    -webkit-animation:fadeInLeft 1s .6s ease both;
    -moz-animation:fadeInLeft 1s .6s ease both;
}

/* 从上方淡入 */
.animation-up {
    -webkit-animation:fadeInDown 1s .6s ease both;
    -moz-animation:fadeInDown 1s .6s ease both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translateY(-500px)
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity:0;
        -moz-transform:translateY(-500px)
    }
    100% {
        opacity:1;
        -moz-transform:translateY(0)
    }
}
    

@media screen and (max-width: 768px){
    
    .segment-width{
        width: auto !important;
    }
}