.bodyFriend{
    background: url('../images/bg-block.png') !important;
}

.m-icon-right{
    padding-right: 0px !important;
    padding-top: 3px !important;
}

.m-content-left{
    padding-left: 0px !important;
}

.friendLink-h2{
    font-size: 30px !important;
    font-weight: 500 !important;
    font-family: 'contentWord' !important;
}

.friendLink-h3{
    font-size: 20px !important;
    font-family: 'headWord' !important;
    font-weight: 200 !important;
}

.friendLink-header{
    font-weight: 400 !important;
}

.friend-link{
    font-size: 18px !important;
}

.frindeLink-desc{
    width: 238px !important;
    overflow: hidden !important; 
}

.add-friend{
    font-weight: 700 !important;
}

#comment-text{
    background-color: #f3f4f5 !important;
}

.comment-tips{
    margin-left: 160px !important;
    margin-right: 160px !important;
    
    white-space:nowrap !important;
}

.comment-tips span{
    font-family: 'dotted' !important;
    font-size: 14px !important;
}

.comment-submit{
    white-space: nowrap !important;
}

.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}
