html,body{
    width: 100%;
    height: 100%;
}

.bodyIndex{
    background-size: 100% ;
    /*background: url('../images/bg-4.jpg') ;*/
}

.bodyLogin{
    background: url("../images/aboutMe-bg-3.png");
}

.m-padd-top-mini{
    padding-top: 0em !important;
    padding-bottom: 0em !important;
}

.m-fam-size{
    font-size: 14px  !important;
}



.m-width-remark{
    width: auto ;
}

/* container remark */



.m-padding-segment{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 1100px !important;
}

.m-grid-margin-left{
    margin-right: 50px !important;
}

.m-h4-paddind{
    margin-top: 6px !important;
}

.m-margin-remark{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* a 链接的颜色 */

.m-a-before-color-qq{
    color: #6f599c;
}
.m-a-before-color-qq:hover{
    color: #594c6d;
}

.m-a-before-color-github{
    color: #008792;
}

.m-a-before-color-github:hover{
    color: #00ae9d;
}

.m-a-before-color-mayun{
    color:#ffd400;
}

.m-a-before-color-mayun:hover{
    color: #fcf16e;
}

/* image */
.m-image{
    height: 110px !important;
}


.pagebt{
    color: #918597 !important;
}

.pagebt:hover{
    color: #867892 !important;
}

.m-i-remark{
    margin-bottom: 2.5px !important; 
    padding-right: 0 !important;
}

.m-a-remark{
    padding-top: 0px !important;
}

.m-create-time-color{
    color: #a291fb;
}



.m-time-color:link{
    color: black !important;
}

.m-time-color:hover{
    color: #50b7c1 !important;
}

.m-padd-mini{

    padding: 2px 3px !important;
}

.author i{
    color: #90d7ec;
}

.author span{
    font-weight: 900;
    font-size: 14px;
    font-style: normal;
}

.author span{
    font-size: 14px !important;
    font-weight: 400;
    color: #122e29;
}

.contents span{
    font-size: 14px !important;
    font-weight: 400;
    color: #122e29;
}

.contents i{
    color: #fcaf17 !important;
}

.skim span{
    font-size: 14px !important;
    font-weight: 400;
    color: #122e29;
}

.skim i{
    color: #d64f44;
}


.m-text-second-p{
    color: #808080ad;
    font-size: 16px;
    font-weight: 300;
    line-height: 2rem;
    text-indent: 1rem;
}

.m-tag-list i{
    color: #777c83 !important;
    margin-right: 0px !important;
}

/* .m-tag-list span{
    color: #777c83 !important;
    
} */

.m-tag-list a{
    margin-right: 0.3em !important;
    margin-left: 0.3em !important;
}

.m-tag-list a:hover{
    color: cornflowerblue !important;
}

.m-tag-list a{
    color: #777c83 !important;
    
}



.m-article-link a{
    font-size: 18px !important;
    font-weight: 500 !important;
}

.m-article-link a{
    color: #777c83 !important;
    
}

.m-article-link a:hover{
    color:cornflowerblue !important;
}

.article-content-segment{
    margin-bottom: 30px !important;
}

.article-footer-segment{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


.margin-top{
    margin-top: 25px !important;
}

.m-color{
    color: #333 !important;
}

.last-recommend a:hover{
    color: #009ad6 !important;
}

.m-right-top{
    position: absolute;
    right: 0;
    top: 0;
}

.m-mobile-show{
    display: none !important;
}

.m-padd-rf-small-reponsive{
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

/* shadow */

.m-shadow-small{
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2) !important;
}

.tag-bg{
    background: #fffffb !important;
}
.tagCloud a {
    display: inline-block;
    padding-right: 8px;
}

.p-info{
    color: #808080ad;
    font-weight: 200;
    font-size: 14px;
    padding-left: 5px;
}

.tagCloud a:hover {
    color: #00ccff !important;
}



.comment-edit{
    border: 2px solid #afb4db;
    padding: 15px 15px 5px;
    margin: 85px 40px 10px 40px;
    border-radius: 7px;
}

#comment-content{
    width: 100%;
    height: 50px;
    background: 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
    font-size: 14px;
    resize: none;
    line-height: normal;
    text-align: left;
    outline: none;
}

.comment-btn{
    float: right;
}

#comment-btn{
    margin-right: 47px;
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    /*border-bottom-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
    /*padding: 8px 10px;*/
    outline: none!important;
}

.comment-main{
    margin-top: 20px;
}

.comment-main-list .list-item .user-img img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.reply-box .reply-item .reply-user-img img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.user-img{
    float: left;
    margin: 24px 0 0 5px;
    position: relative;
}


.list-item-content{
    position: relative;
    margin-left: 85px;
    /*padding: 22px 0 14px;*/

    padding: 22px 0 0px;
}

.text{
    margin: 3px 0px;
    font-size: 14px;
}

.info{
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
}

.info span{
    margin-right: 20px;
}

/*.user{*/
/*font-size: 14px;*/
/*font-weight: 700;*/
/*line-height: 18px;*/

/*}*/
.user-name{
    color: #6d757a;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 3px;
}

.reply-item-content{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding: 2px 0 14px;
}

.reply-user-img{
    float: left;
    position: relative;
}

.like{
    cursor: pointer;
}

.like a{
    color: #99a2aa;
}

.like a:hover{
    color: #0e90d2;
}

.reply{
    cursor: pointer;
}

.reply a{
    color: #99a2aa;
}

.reply a:hover{
    color: #0e90d2;
}

.comment-reply{
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px;
}

.comment-reply-textarea{
    position: relative;
    margin-left: 85px;
    margin-right: 80px;
    margin-top: 15px;
}

#comment-reply-textarea{
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100%!important;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
    resize: none;

    height:65px;
}

#comment-reply-textarea:focus{
    border-color: #1890ff
}

.comment-reply-textarea-btn{
    width: 70px;
    height: 64px;
    text-align: center;
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    transition: .1s;
    user-select: none;
    outline: none;

    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}

.no-message{
    text-align: center;
}

.display-none{
    display: none;
}

.am-icon-tag-a{
    margin-right: 8px;
}



@media screen and (max-width: 768px) {

    .m-mobile-hide{
        display: none !important;
    }

    .m-mobile-show{
        display: block !important;
    }
    .m-padd-rf-small-reponsive{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }

    
}