<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header_user(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">关于我</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/paginationjs/2.1.5/pagination.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/tocbot/4.12.0/tocbot.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/utils.css" th:href="@{/css/utils.css}">
    <link rel="stylesheet" href="../static/css/word-style.css" th:href="@{/css/word-style.css}">
    <link rel="stylesheet" href="../static/css/aboutMe.css" th:href="@{/css/aboutMe.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/css/blogRecord.css" th:href="@{/css/blogRecord.css}">
    <link rel="stylesheet" href="../static/css/category.css" th:href="@{/css/category.css}">
    <link rel="stylesheet" href="../static/css/friendLink.css" th:href="@{/css/friendLink.css}">
    <link rel="stylesheet" href="../static/css/tags.css" th:href="@{/css/tags.css}">
    <link rel="stylesheet" th:href="@{/css/paging.css}">
    <link rel="stylesheet" th:href="@{/css/utils_css/jqcloud.css}">

</head>
<body>

    <!-- 导航 -->
    <nav th:fragment="menu(n)" class="ui inverted attached segment m-padd-top-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal inverted header item">Myblog</h2>
                <a href="/user/index" class="m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="home icon"></i><span class="m-fam-size" style="color:#FF851B !important;">首页</span></a>
                <a href="/user/category" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i><span class="m-fam-size" style="color:#54c8ff !important;">分类</span></a>
                <a href="/user/travel" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class="plane icon"></i><span class="m-fam-size" style="color:#a291fb !important;">旅行游记</span></a>
                <a href="/user/timeline" class="m-item item m-mobile-hide" th:classappend="${n==5} ? 'active'"><i class="calendar icon"></i><span class="m-fam-size" style="color:#ff8edf !important;">时光轴</span></a>
                <a href="/user/blogRecord" class="m-item item m-mobile-hide" th:classappend="${n==6} ? 'active'"><i class="spinner icon"></i><span class="m-fam-size" style="color:#74b34b !important;">博客记录</span></a>
                <a href="/user/friendLink" class="m-item item m-mobile-hide" th:classappend="${n==7} ? 'active'"><i class="user plus icon"></i><span class="m-fam-size" style="color:#d3c75d !important;">友链</span></a>
                <a href="/user/aboutMe" class="m-item item m-mobile-hide" th:classappend="${n==8} ? 'active'"><i class="info icon "></i><span class="m-fam-size" style="color:#ff695e !important;">关于我</span></a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon transparent inverted input">
                        <input class="prompt" type="text" placeholder="搜点什么">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle inverted  icon button m-right-top m-mobile-show " style="color: rgb(218, 218, 218);"  >
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <!-- 底部 -->
    <footer th:fragment="footer_user" class="ui inverted vertical segment m-padd-foot-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item" >
                            <img src="../static/images/weChat.png" th:src="@{/images/weChat.png}" alt="" style="width: 110px;">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-trspant">访问信息</h4>
                    <div class="ui small inverted link list " style="margin-left: 12px">
                        <a href="#" class="item">
                            <div class="left floated content">
                                总访问量：
                            </div>

                        </a>
                        <a href="#" class="item">
                            <div class="left floated content">
                                总访客量：
                            </div>

                        </a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-trspant">联系我</h4>
                    <div class="ui small inverted link list" style="margin-left: 12px">
                        <a href="#" class="item ">
                            <div class="left floated content">
                                mail：mystartone@163.com
                            </div>
                        </a>
                        <a href="#" class="item ">
                            <div class="left floated content">
                                QQ: 3596628732
                            </div>
                        </a>
                        <a href="#" class="item ">
                            <div class="left floated content">
                                公众号：生活要有诗意
                            </div>
                        </a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-trspant">说点什么</h4>
                    <p class="m-text-thin m-text-spaced m-text-trspant-mini" style="font-size: 13px;" >
                        这是我的个人博客，主要是用来记录自己的学习和留住美好的时刻，博客中有错误的地方欢迎大家指正，
                        想要与我交流可以通过左边的联系方式找到我，欢迎大家与我交流！！！
                    </p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-text-trspant-mini">copyright@123456 yrz</p>
        </div>
    </footer>

    <th:block th:fragment="script">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/tocbot/4.12.0/tocbot.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="../static/js/common_index.js" th:src="@{/js/common_index.js}"></script>
        <script src="../static/js/utils_js/wow.min.js" th:src="@{/js/utils_js/wow.min.js}"></script>
        <script src="../static/js/common_blog.js" th:src="@{/js/common_blog.js}"></script>
        <script src="../static/js/common_index.js" th:src="@{/js/common_index.js}"></script>
        <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
        <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
        <script th:src="@{/js/utils_js/paging.js}"></script>


    </th:block>

</body>
</html>