
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录页面</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/utils.css" th:href="@{/css/utils.css}">
    <link rel="stylesheet" href="../static/css/word-style.css" th:href="@{/css/word-style.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">


</head>


<body class="bodyLogin">


    <div class="m-container-minier ">

        <div class="ui  container" style="padding-top: 12em;  ">


            <div class="ui center aligned middle aligned container">
                <div class="ui middle aligned center aligned grid">
                    <div class="column " >


                        <div class="ui raised segments">
                            <div class="ui  inverted segment" style="background: #926095 !important;">
                                <div class="ui left aligned container">
                                    <h3>Please Login</h3>
                                </div>

                            </div>
                            <div class="ui segment" >

                                <form class="ui large login form " method="post"  >

                                    <div class="field">
                                        <div class="ui left icon input">
                                            <i class="user icon"></i>
                                            <input type="text" name="username" placeholder="账号">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui left icon input">
                                            <i class="lock icon"></i>
                                            <input type="password" name="password" placeholder="密码">
                                        </div>
                                    </div>
                                    <button type="submit" class="ui blue submit button" >登   录</button>

                                    <div class="ui error message" >
                                        用户名密码不能为空
                                    </div>
                                </form>
                            </div>
                            <div class="ui segment">
                                新用户？ <a href="login.php#">点击注册</a>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
            <div class="ui error message" th:if="${param.error}">
                <span th:text="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message}" ></span>
            </div>
        </div>




    </div>






</body>

<script>

</script>

<!--/*/<th:block th:replace="common_frg :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../static/js/common_index.js"></script>
    <script src="../static/js/utils_js/wow.min.js"></script>
<!--/*/</th:block>/*/-->

</html>