
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>时光轴</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/utils.css" th:href="@{/css/utils.css}">
    <link rel="stylesheet" href="../static/css/category.css" th:href="@{/css/category.css}">
    <link rel="stylesheet" href="../static/css/word-style.css" th:href="@{/css/word-style.css}">
    <link rel="stylesheet" th:href="@{/css/paging.css}">

  <style>
    
  </style>

</head>


<body class="bodyCategory">

  <!-- 导航 -->
  <nav th:replace="common_frg :: menu(5)" class="ui inverted attached segment m-padd-top-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal inverted header item">Myblog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i><span class="m-fam-size" style="color:#FF851B !important;">首页</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i><span class="m-fam-size" style="color:#54c8ff !important;">分类</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tag icon"></i><span class="m-fam-size" style="color:#dc73ff !important;">标签</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="plane icon"></i><span class="m-fam-size" style="color:#a291fb !important;">旅行游记</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="calendar icon"></i><span class="m-fam-size" style="color:#ff8edf !important;">时光轴</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="spinner icon"></i><span class="m-fam-size" style="color:#74b34b !important;">博客记录</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="user plus icon"></i><span class="m-fam-size" style="color:#d3c75d !important;">友链</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i><span class="m-fam-size" style="color:#ff695e !important;">关于我</span></a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon transparent inverted input">
                    <input class="prompt" type="text" placeholder="搜点什么">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="ui menu toggle inverted  icon button m-right-top m-mobile-show " style="color: rgb(218, 218, 218);"  >
        <i class="sidebar icon"></i>
    </a>
  </nav>

  <!-- 中部内容 -->
  <div class="ui container m-margin-bt-huge">

    
   

      <div class="ui stackable grid">

          <!-- 左部文字图片 -->
          <div class="two wide column">
            <img src="../static/images/timeline-left-bg.png" th:src="@{/images/timeline-left-bg.png}" alt="" class="ui  rounded  image">
          </div>

          <!-- 左边分类总列表 -->
          <div class="center aligned four wide column" style="padding-left: 20px ;">

            
            <div class="ui middle aligned animated list category-sum-list animation-left time-data">
              <div class="item">
                <div class="content">
                  <div class="ui left aligned container">
                    <div class="header head-name">时间会记录一切</div> 
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="ui left aligned container">
                    <a href="#" class="m-font" >2020年7月 </a> 
                    <span class="m-span-color">(15)</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="ui left aligned container">
                    <a href="#" >2020年8月</a> 
                  <span class="m-span-color">(15)</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="ui left aligned container">
                    <a href="#" >2020年9月 </a> 
                  <span class="m-span-color">(15)</span>
                  </div>
                </div>
              </div>
            </div>
            
          

          </div>

          <!-- 右边分类明细文章 -->
          <div class="eight wide column m-margin-bt-big" >

            <header class="m-header">#全部分类</header>

              <div class="time-line blog-category-merge" style="margin-left: 0px;">

                    <!-- 时间节点 -->
                  <div class="time-block m-padd-foot">
                      <span class="circle wrapper-span animation-up"></span>
                      <div class="time m-inline-block">
                        <span class="sp-style animation-up">2020年</span>
                      </div>
                  </div>

                  <div class="block m-magin-bottom">

                          <!-- 圆形标头 -->
                        <span class="circle wrapper-span animation-up"></span>
                        <!-- 分类明细块 -->
                        <div class="ui raised segments m-inline-block m-margin-left animation-right" >

                          <!-- 头部 -->
                          <div class="ui secondary  segment">
                            <div class="content con-head">
                              <a class="header-style" href="#">springboot初体验</a>
                            </div>
                            
                          </div>
                          <div class="ui yellow secondary  segment segment-width">
                            <div class="ui horizontal list list-style">

                              <!-- 时间标签 -->
                              <div class="item">
                                <i class="blue calendar minus outline icon"></i>
                                <div class="content m-padding-zero-left" >
                                  <a class=" m-color"  href="#">2020-7-28</a>
                                </div>
                                
                              </div>

                              <!-- 查看人数 -->
                              <div class="item">
                                <i class="red eye icon"></i>
                                <div class="content m-padding-zero-left">
                                  <a class=" m-color" href="">115</a>
                                </div>
                              </div>

                              <!-- 分类文件夹 -->
                              <div class="item">
                                <i class="yellow folder open icon"></i>
                                <div class=" content m-padding-zero-left" >
                                  <a class=" m-color" href="#">semantic-ui.com</a>
                                </div>
                              </div>

                              

                              <!-- 分类标签 -->
                              <div class="item">
                                <i class="green tag icon"></i>
                                <div class="content m-padding-zero-left">
                                  <a class=" m-color" href="">springboot初级</a>
                                </div>
                              </div>  

                            </div>
                          </div>
                        </div>
                    </div>
                  <div class="block m-magin-bottom">

                      <!-- 圆形标头 -->
                      <span class="circle wrapper-span animation-up"></span>
                      <!-- 分类明细块 -->
                      <div class="ui raised segments m-inline-block m-margin-left animation-right" >

                          <!-- 头部 -->
                          <div class="ui secondary  segment">
                              <div class="content con-head">
                                  <a class="header-style" href="#">springboot初体验</a>
                              </div>

                          </div>
                          <div class="ui yellow secondary  segment segment-width">
                              <div class="ui horizontal list list-style">

                                  <!-- 时间标签 -->
                                  <div class="item">
                                      <i class="blue calendar minus outline icon"></i>
                                      <div class="content m-padding-zero-left" >
                                          <a class=" m-color"  href="#">2020-7-28</a>
                                      </div>

                                  </div>

                                  <!-- 查看人数 -->
                                  <div class="item">
                                      <i class="red eye icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">115</a>
                                      </div>
                                  </div>

                                  <!-- 分类文件夹 -->
                                  <div class="item">
                                      <i class="yellow folder open icon"></i>
                                      <div class=" content m-padding-zero-left" >
                                          <a class=" m-color" href="#">semantic-ui.com</a>
                                      </div>
                                  </div>



                                  <!-- 分类标签 -->
                                  <div class="item">
                                      <i class="green tag icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">springboot初级</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="block m-magin-bottom">

                      <!-- 圆形标头 -->
                      <span class="circle wrapper-span animation-up"></span>
                      <!-- 分类明细块 -->
                      <div class="ui raised segments m-inline-block m-margin-left animation-right" >

                          <!-- 头部 -->
                          <div class="ui secondary  segment">
                              <div class="content con-head">
                                  <a class="header-style" href="#">springboot初体验</a>
                              </div>

                          </div>
                          <div class="ui yellow secondary  segment segment-width">
                              <div class="ui horizontal list list-style">

                                  <!-- 时间标签 -->
                                  <div class="item">
                                      <i class="blue calendar minus outline icon"></i>
                                      <div class="content m-padding-zero-left" >
                                          <a class=" m-color"  href="#">2020-7-28</a>
                                      </div>

                                  </div>

                                  <!-- 查看人数 -->
                                  <div class="item">
                                      <i class="red eye icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">115</a>
                                      </div>
                                  </div>

                                  <!-- 分类文件夹 -->
                                  <div class="item">
                                      <i class="yellow folder open icon"></i>
                                      <div class=" content m-padding-zero-left" >
                                          <a class=" m-color" href="#">semantic-ui.com</a>
                                      </div>
                                  </div>



                                  <!-- 分类标签 -->
                                  <div class="item">
                                      <i class="green tag icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">springboot初级</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="time-block m-padd-foot">
                      <span class="circle wrapper-span animation-up"></span>
                      <div class="time m-inline-block">
                          <span class="sp-style animation-up">2020年</span>
                      </div>
                  </div>

                  <div class="block m-magin-bottom">

                      <!-- 圆形标头 -->
                      <span class="circle wrapper-span animation-up"></span>
                      <!-- 分类明细块 -->
                      <div class="ui raised segments m-inline-block m-margin-left animation-right" >

                          <!-- 头部 -->
                          <div class="ui secondary  segment">
                              <div class="content con-head">
                                  <a class="header-style" href="#">springboot初体验</a>
                              </div>

                          </div>
                          <div class="ui yellow secondary  segment segment-width">
                              <div class="ui horizontal list list-style">

                                  <!-- 时间标签 -->
                                  <div class="item">
                                      <i class="blue calendar minus outline icon"></i>
                                      <div class="content m-padding-zero-left" >
                                          <a class=" m-color"  href="#">2020-7-28</a>
                                      </div>

                                  </div>

                                  <!-- 查看人数 -->
                                  <div class="item">
                                      <i class="red eye icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">115</a>
                                      </div>
                                  </div>

                                  <!-- 分类文件夹 -->
                                  <div class="item">
                                      <i class="yellow folder open icon"></i>
                                      <div class=" content m-padding-zero-left" >
                                          <a class=" m-color" href="#">semantic-ui.com</a>
                                      </div>
                                  </div>



                                  <!-- 分类标签 -->
                                  <div class="item">
                                      <i class="green tag icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">springboot初级</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="block m-magin-bottom">

                      <!-- 圆形标头 -->
                      <span class="circle wrapper-span animation-up"></span>
                      <!-- 分类明细块 -->
                      <div class="ui raised segments m-inline-block m-margin-left animation-right" >

                          <!-- 头部 -->
                          <div class="ui secondary  segment">
                              <div class="content con-head">
                                  <a class="header-style" href="#">springboot初体验</a>
                              </div>

                          </div>
                          <div class="ui yellow secondary  segment segment-width">
                              <div class="ui horizontal list list-style">

                                  <!-- 时间标签 -->
                                  <div class="item">
                                      <i class="blue calendar minus outline icon"></i>
                                      <div class="content m-padding-zero-left" >
                                          <a class=" m-color"  href="#">2020-7-28</a>
                                      </div>

                                  </div>

                                  <!-- 查看人数 -->
                                  <div class="item">
                                      <i class="red eye icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">115</a>
                                      </div>
                                  </div>

                                  <!-- 分类文件夹 -->
                                  <div class="item">
                                      <i class="yellow folder open icon"></i>
                                      <div class=" content m-padding-zero-left" >
                                          <a class=" m-color" href="#">semantic-ui.com</a>
                                      </div>
                                  </div>



                                  <!-- 分类标签 -->
                                  <div class="item">
                                      <i class="green tag icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">springboot初级</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="block m-magin-bottom">

                      <!-- 圆形标头 -->
                      <span class="circle wrapper-span animation-up"></span>
                      <!-- 分类明细块 -->
                      <div class="ui raised segments m-inline-block m-margin-left animation-right" >

                          <!-- 头部 -->
                          <div class="ui secondary  segment">
                              <div class="content con-head">
                                  <a class="header-style" href="#">springboot初体验</a>
                              </div>

                          </div>
                          <div class="ui yellow secondary  segment segment-width">
                              <div class="ui horizontal list list-style">

                                  <!-- 时间标签 -->
                                  <div class="item">
                                      <i class="blue calendar minus outline icon"></i>
                                      <div class="content m-padding-zero-left" >
                                          <a class=" m-color"  href="#">2020-7-28</a>
                                      </div>

                                  </div>

                                  <!-- 查看人数 -->
                                  <div class="item">
                                      <i class="red eye icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">115</a>
                                      </div>
                                  </div>

                                  <!-- 分类文件夹 -->
                                  <div class="item">
                                      <i class="yellow folder open icon"></i>
                                      <div class=" content m-padding-zero-left" >
                                          <a class=" m-color" href="#">semantic-ui.com</a>
                                      </div>
                                  </div>



                                  <!-- 分类标签 -->
                                  <div class="item">
                                      <i class="green tag icon"></i>
                                      <div class="content m-padding-zero-left">
                                          <a class=" m-color" href="">springboot初级</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="ui center aligned container m-margin-bt-large list">

                  <div id="pagination" >
                      <ul >
                          <!--<li class="item"><a href="#">&laquo; 上一页</a></li>-->
                          <!--<li class=""><a href="#">1</a></li>-->
                          <!--<li><a href="#">2</a></li>-->
                          <!--<li><a href="#">3</a></li>-->
                          <!--<li><a href="#">4</a></li>-->
                          <!--<li><a href="#">5</a></li>-->
                          <!--<li class="item"><a href="#">下一页 &raquo;</a></li>-->
                      </ul>
                  </div>

              </div>


          </div>


      </div>







   
  </div>
  

  <!-- 底部 -->
  <footer th:replace="common_frg :: footer_user" class="ui inverted vertical segment m-padd-foot-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item" >
                        <img src="../static/images/weChat.png" alt="" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-trspant">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">第一篇</a>
                    <a href="#" class="item">第一篇</a>
                    <a href="#" class="item">第一篇</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-trspant">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">第一篇</a>
                    <a href="#" class="item">第一篇</a>
                    <a href="#" class="item">第一篇</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-trspant">说点什么</h4>
                <p class="m-text-thin m-text-spaced m-text-trspant-mini" >
                    这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客这是我的个人博客
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-text-trspant-mini">copyright@123456 yrz</p>
    </div>
  </footer>
</body>
<!--/*/<th:block th:replace="common_frg :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../static/js/common_index.js"></script>
<!--/*/</th:block>/*/-->
    <script th:src="@{/js/data_time.js}"></script>

</html>